In [1]:
import pandas as pd
from sklearn import linear_model

In [16]:
df = pd.read_csv('hire.csv')
df

   Experience  Test_Score  Interview_Score  Salary
0         NaN         8.0                9   50000
1         NaN         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         NaN                7   72000
7        11.0         7.0                8   80000

In [20]:
new_df1 = df.Experience.median()
new_df2 = df.Test_Score.median()

8.0

In [24]:
df.Experience = df.Experience.fillna(new_df1)
df.Test_Score = df.Test_Score.fillna(new_df2)
df

   Experience  Test_Score  Interview_Score  Salary
0         6.0         8.0                9   50000
1         6.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         8.0                7   72000
7        11.0         7.0                8   80000

In [26]:
model = linear_model.LinearRegression()
model.fit(df.drop('Salary', axis = 'columns'), df.Salary)

LinearRegression()

In [32]:
model.predict([[2, 9, 6]])

C:\Users\Sikkim\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([47056.91056911])

In [39]:
model.predict([[12, 10, 10]])

C:\Users\Sikkim\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([88227.64227642])

In [40]:
model.coef_

array([2813.00813008, 1333.33333333, 2926.82926829])

In [37]:
model.intercept_

11869.918699186957

In [38]:
12 * 2813.00813008 + 10 * 1333.33333333 + 10 * 2926.82926829 + 11869.918699186957

88227.64227634695