In [1]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv('Book1.csv')
df

               Town  Area   Price
0   monore township  2600  550000
1   monore township  3000  565000
2   monore township  3200  610000
3   monore township  3600  680000
4   monore township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9      robbinsville  2600  575000
10     robbinsville  2900  600000
11     robbinsville  3100  620000
12     robbinsville  3600  695000

In [36]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [49]:
ohe.fit_transform(df[['Town']]).toarray()

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])